img {
	display: block;
	margin: auto;
	padding: 10px;
}
.blur {-webkit-filter: blur(4px);filter: blur(4px);}
.shadow {-webkit-filter: drop-shadow(8px 8px 10px black);filter: drop-shadow(8px 8px 10px black);}
img:hover {
	-webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);
}