ol.a { 
	list-style-type: number;
	background: #DCDCDC;
	border: 5px solid white;
	color: white;
	width: 200px;

}
ol.b {
	list-style-type: lower-alpha;
	background: blue;
	color: white;
	width: 100px;
}
ul {
	list-style-image: url('Circle.png');
	background: DarkKhaki;
	border: 5px solid black;
	color: white;
	width: 200px;
}